.courses-grid{
    width: 100%;
    display: grid;
    list-style: none;
    gap: 20px;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}

.articlecard{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

