.cover_image{
    width: calc(100% + 60px);
    aspect-ratio: 16 / 9;
    margin: 20px -30px;
    object-fit: cover;
    object-position: center;
}


.user_section{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    img{
        width: 40px;
        height: 40px;
        border-radius: 100px;
        background: whitesmoke;
        display: block;
    }
}

.price-card{
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.664);
    backdrop-filter: blur(10px);
}